/* Задний фон */
    .main-content {
      background-color: #000000;
      min-height: 100vh;
      margin-left: 220px;
      padding: 7px;
      position: relative;
    }

    /* Стиль блока с контактами */
    .contact-block {
      background-color: #FF4500;
      padding: 20px;
      border: 3px solid white;
      text-align: center;
      position: absolute;
      left: 10px;
      bottom: 10px;
    }

    /* Позиционирование видео-контейнера */
    .video-container {
      position: absolute;
      left: 10px;
      height: calc(100% - 10px); /* точная высота для совпадения */
    }

    /* Видео */
    .background-video {
      width: auto;
      height: 770px;
      object-fit: cover;
      border: 3px solid white;
    }

    /* Кнопка звука */
    .mute-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      cursor: pointer;
      display: none; /* Кнопка скрыта по умолчанию */
      align-items: center;
      justify-content: center;
    }

    /* Размер иконки */
    .mute-icon {
      width: 24px;
      height: 24px;
      fill: #ffffff;
    }

    /* Отображение кнопки при наведении на видео-контейнер */
    .video-container:hover .mute-btn {
      display: flex;
    }

    .contact-block h2 {
      color: #ffffff;
      font-size: 24px;
      font-family: "Unbounded", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: bold;
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    }

    .contact-block a {
      color: #ffffff;
      font-size: 16px;
      font-family: "Unbounded", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: bold;
      text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    }

    .contact-block a:hover {
      text-decoration: underline;
      color: #000000;
    }

<div id="home" class="main-content">
    <div class="video-container">
      <video autoplay loop muted playsinline class="background-video" id="backgroundVideo">
        <source src="/static/images/IMG_0634.MP4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <button class="mute-btn" id="muteToggle">
        <svg id="soundOnIcon" class="mute-icon" viewBox="0 0 24 24">
          <path d="M3 10v4h4l5 5V5L7 10H3zm13.5 2c0-1.77-1.02-3.29-2.5-4.03v8.06c1.48-.74 2.5-2.26 2.5-4.03zm2.5 0c0 2.97-1.63 5.5-4 6.92l1.5 1.5C18.99 19.54 21 15.97 21 12s-2.01-7.54-5-8.42l-1.5 1.5c2.37 1.41 4 3.94 4 6.92z"/>
        </svg>
        <svg id="soundOffIcon" class="mute-icon" viewBox="0 0 24 24" style="display: none;">
          <path d="M16.5 12c0-1.77-1.02-3.29-2.5-4.03v8.06c1.48-.74 2.5-2.26 2.5-4.03zm2.5 0c0 2.97-1.63 5.5-4 6.92l1.5 1.5C18.99 19.54 21 15.97 21 12s-2.01-7.54-5-8.42l-1.5 1.5c2.37 1.41 4 3.94 4 6.92z"/>
          <path d="M3 10v4h4l5 5V5L7 10H3zm18.7 10.29L2.71 3.29 1.39 4.71 5.7 9.03 3 10v4h4l5 5v-6.97l7.11 7.11 1.41-1.42z"/>
        </svg>
      </button>
    </div>
    <div class="contact-block">
      <h2>Контакты Loqiemean</h2>
      <a href="https://music.yandex.ru/artist/4545156?utm_source=desktop&utm_medium=copy_link" target="_blank">Яндекс.Музыка</a><br>
      <a href="https://music.apple.com/us/artist/loqiemean/680146234" target="_blank">Apple Music</a><br>
      <a href="https://open.spotify.com/artist/2Nl6vz4KNIHQjyoOLTadCn?si=vnC1uO7cTQaDgumKOL-PCA&amp;artist-id=2Nl6vz4KNIHQjyoOLTadCn&amp;lang=ru" target="_blank">Spotify</a><br>
      <a href="https://vk.com/loqiemeanmusic" target="_blank">ВКонтакте</a><br>
      <a href="https://www.instagram.com/la_loqiemean/profilecard/?igsh=MTF3aDB3cTVtYm5ibw==" target="_blank">Инстаграм</a><br>
      <a href="https://t.me/Loqiemeantg" target="_blank">Телеграм</a><br>
      <a href="https://youtube.com/@loqiemean?si=l_KpZ7uFu7oLULAK" target="_blank">YouTube</a>
    </div>
  </div>

  <script>
    const video = document.getElementById('backgroundVideo');
    const muteToggle = document.getElementById('muteToggle');
    const soundOnIcon = document.getElementById('soundOnIcon');
    const soundOffIcon = document.getElementById('soundOffIcon');

    muteToggle.addEventListener('click', () => {
      video.muted = !video.muted;
      if (video.muted) {
        soundOnIcon.style.display = 'none';
        soundOffIcon.style.display = 'block';
      } else {
        soundOnIcon.style.display = 'block';
        soundOffIcon.style.display = 'none';
      }
    });
  </script>