{% extends 'base.html' %}

{% block title %}
    Дискография
{% endblock %}

{% block style %}
    /* Задний фон дискографии */
    .main-content {
      background-color: #000000;
      min-height: 100vh;
      margin-left: 220px;
      padding: 7px;
      display: flex;
      flex-direction: column;
    }

    /* Строка альбомы */
    .albums {
      background-color: #FF4500;
      color: #ffffff;
      border: 3px solid white;
      text-align: center;
      font-family: "Unbounded", sans-serif;
      font-weight: 700;
      padding: 10px 0;
      margin-bottom: 20px;
    }
    .albums p{
      background-color: #FF4500;
      color: #ffffff;
      text-align: center;
      font-family: "Unbounded", sans-serif;
      font-weight: 300;
    }

    .album-cards {
      display: flex;
      flex-wrap: wrap; /* Позволяет перенос карточек */
      gap: 20px; /* Расстояние между карточками */
      justify-content: space-between; /* Равномерное распределение по строке */
      margin-bottom: 20px;
    }

    .album-card {
      flex: 1 1 calc(25% - 20px); /* Карточка занимает 25% строки с учетом отступов */
      max-width: calc(25% - 20px); /* Ограничение ширины */
      background-color: #FF8C00;
      color: #000000;
      border: 3px solid white;
      text-align: center;
      font-family: "Unbounded", sans-serif;
      padding: 5px;
      box-sizing: border-box;
      color: #ffffff;
      border: 3px solid white;
      text-align: center;
      font-family: "Unbounded", sans-serif;
      font-weight: 700;
    }
    .album-card img {
      height: 200px;
      border: 3px solid white;
      margin-bottom: 5px;
    }
    .album-title {
      font-weight: bold;
      margin: 10px 0;
    }

    /* Стили для кнопки аккордеона */
    .album-card .btn-link {
      color: #000000; /* Черный текст */
      background-color: #FF8C00; /* Фон кнопки, совпадающий с карточкой */
      border: none; /* Убираем контуры */
      padding: 15px;
      text-decoration: none; /* Убираем подчеркивание */
      color: #ffffff;
      text-align: center;
      font-family: "Unbounded", sans-serif;
      font-weight: 700;
    }

    .album-card .btn-link:hover {
      color: #000000; /* Черный цвет текста при наведении */
      background-color: #FF4500; /* Фон при наведении */
      text-decoration: none; /* Убираем подчеркивание при наведении */
    }

    .album-card .btn-link:focus {
      outline: none; /* Убираем стандартную обводку при фокусе */
      box-shadow: none; /* Убираем тень при фокусе */
    }

    /* Убираем белый фон у карточки и заголовка */
    .album-card .card {
      background-color: transparent; /* Фон прозрачный */
      border: none; /* Убираем границы */
    }

    .album-card .card-header {
      background-color: inherit; /* Наследуем фон карточки */
      border: none; /* Убираем границы */
    }
{% endblock %}

{% block content %}
  <div id="home" class="main-content">
    <div class="albums">
      <h2>АЛЬБОМЫ И EP</h2>
      <p>*Вся дискография Ромы Loqiemean расположена в хронологическом порядке</p>
    </div>

    <!-- Карточки альбомов -->
      <div class="album-cards">
        <!-- Карточка 1 -->
        <div class="album-card">
          <img src="/static/images/albums/pov3stka.jpg" alt="Пов3стка">
          <div class="album-title">Пов3стка</div>
          <p>2022</p>
          <div class="accordion">
            <div class="card">
              <div class="card-header" id="headingOne1">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                  Смотреть треки
                </button>
              </div>
              <div id="collapseOne1" class="collapse" aria-labelledby="headingOne1">
                <div class="card-body">
                  <ul>
                    <li>Трек 1</li>
                    <li>Трек 2</li>
                    <li>Трек 3</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Карточка 2 -->
        <div class="album-card">
          <img src="/static/images/albums/kontrol.jpg" alt="Контроль">
          <div class="album-title">Контроль</div>
          <p>2021</p>
          <div class="accordion">
            <div class="card">
              <div class="card-header" id="headingTwo2">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo2">
                  Смотреть треки
                </button>
              </div>
              <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2">
                <div class="card-body">
                  <ul>
                    <li>Трек 1</li>
                    <li>Трек 2</li>
                    <li>Трек 3</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Карточка 3 -->
        <div class="album-card">
          <img src="/static/images/albums/chernaya_metka.jpg" alt="Чёрная метка">
          <div class="album-title">Чёрная метка</div>
          <p>2020</p>
          <div class="accordion">
            <div class="card">
              <div class="card-header" id="headingThree3">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree3" aria-expanded="true" aria-controls="collapseThree3">
                  Смотреть треки
                </button>
              </div>
              <div id="collapseThree3" class="collapse" aria-labelledby="headingThree3">
                <div class="card-body">
                  <ul>
                    <li>Трек 1</li>
                    <li>Трек 2</li>
                    <li>Трек 3</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Карточка 4 -->
        <div class="album-card">
          <img src="/static/images/albums/zombi_nado_horonit.jpg" alt="Зомби надо хоронить">
          <div class="album-title">Зомби надо хоронить</div>
          <p>2020</p>
          <div class="accordion">
            <div class="card">
              <div class="card-header" id="headingFour4">
                <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour4" aria-expanded="true" aria-controls="collapseFour4">
                  Смотреть треки
                </button>
              </div>
              <div id="collapseFour4" class="collapse" aria-labelledby="headingFour4">
                <div class="card-body">
                  <ul>
                    <li>Трек 1</li>
                    <li>Трек 2</li>
                    <li>Трек 3</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
{% endblock %}
